.add-contact{
    margin-right: 2em;
    float: right;
    height: 50px;
    bottom: 8px;
    margin-top: 2em;
}
.mat-form-field{
    width: 100%;
    padding: 5px 0px;
}
.dialog-footer{
    float: right;
}